.todos {
    @extend %no-select;

    bottom: $typing-oneline-height;
    left: 0;
    overflow: hidden;
    top: $typing-oneline-height;
    z-index: 1;

    &.two-lines {
        bottom: $typing-twoline-height;
    }

    .list {
        height: 100%;
        list-style-type: none;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        width: 100%;
        z-index: 1;

        @import 'todo/style';
    }
}