.todos {
    @extend %no-select;

    bottom: $row-height;
    left: 0;
    overflow: hidden;
    top: $row-height;
    z-index: 1;

    &.two-lines {
        bottom: $row-height + 24px;
    }

    .list {
        height: 100%;
        list-style-type: none;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        width: 100%;
        z-index: 1;

        @import 'todo/style';
    }

    &.bottom-padding .list {
        padding-bottom: 60px;
    }
}