.sort {
    height: $row-height;
    display: inline-block;

    .button {
        box-sizing: content-box;
        cursor: pointer;
        display: block;
        font-size: 0;
        height: 14px;
        margin-left: auto;
        padding: 20px 15px 16px;
        width: 18px;
    }

    .menu {
        align-items: center;
        background-color: $brand-color;
        box-shadow: inset 0 -2px 0 0 rgba( $black-color, 0.1 );
        display: none;
        height: $row-height;
        justify-content: center;
        position: absolute;
        right: 0;
        top: $row-height;
        width: 100%;

        .item {
            color: $white-color;
            display: inline-block;
            flex-grow: 1;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: $row-height;
            padding: 0 15px;
            position: relative;
            text-decoration: none;
            text-transform: capitalize;

            &.current,
            &:hover {
                text-decoration: underline;
            }

            &:after {
                background-color: rgba( $black-color, 0.1 );
                bottom: 0;
                content: "";
                display: block;
                height: 80%;
                position: absolute;
                right: 0;
                width: 2px;

                &:last-child { display: none; }
            }

        }
    }

    &.open {
        .menu { display: flex; }
    }
}
