li {
    $root: &;
    @include clearfix;

    align-items: flex-start;
    background-color: $background-color;
    border-bottom: 1px solid #eee;
    display: flex;
    position: relative;

    &, .field {
        min-height: $typing-oneline-height;
        white-space: pre-wrap;
        word-break: break-word;
    }

    .check-box {
        flex-shrink: 0;
    }

    .field {
        box-sizing: border-box;
        display: block;
        flex-grow: 1;
        padding: 9px 12px 9px 0;

        // @at-root #{$root}.rtl .field {
        //     padding-left: 12px;
        //     padding-right: 0;
        // }
    }

    &.complete .field {
         text-decoration: line-through;
    }

    // moving side indication for task
    &:hover:before {
        background-color: rgba($text-color, 0.2);
        bottom: 0;
        content: '';
        cursor: move;
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        width: 6px;

        // @at-root #{$root}.rtl:hover:before {
        //     right: 0;
        //     left: auto;
        // }
    }

    // &.sortable-placeholder {}
}