li {
    @include clearfix;

    align-items: flex-start;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
    display: flex;

    &, .field {
        min-height: $typing-oneline-height;
    }
    .check-box {
        flex-shrink: 0;
    }

    .field {
        display: block;
        flex-grow: 1;
        padding: 9px 12px 9px 0;
        box-sizing: border-box;
    }

    &.complete .field {
         text-decoration: line-through;
    }

    // &.sortable-placeholder {}
}