.tasks {
    @extend %no-select;

    bottom: $same-height;
    left: 0;
    overflow: hidden;
    top: $same-height;
    z-index: 1;

    .list {
        height: 100%;
        list-style-type: none;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        width: 100%;
        z-index: 1;

        @import 'task/style';
    }

    @import 'clean-button/style';

    &.show-clean-button {
        .list {
            padding-bottom: 60px;
        }
        .clean-button {
            display: block;
        }
    }
}