header {
    align-items: center;
    background-color: $brand-color;
    display: flex;
    height: 50px;
    left: 0;
    top: 0;
    z-index: 2;

    & > * {
        @extend %no-select;
    }

    .logo {
        box-sizing: content-box;
        cursor: pointer;
        display: inline-block;
        height: 20px;
        padding: 15px 10px;
        width: 40px;
    }
}
