header {
    background-color: $brand-color;
    height: $row-height;
    left: 0;
    top: 0;
    z-index: 2;

    & > * {
        @extend %no-select;
    }

    .logo {
        background-image: url("./images/logo.svg");
        background-position: 50% 43%;
        background-size: 40px 20px;
        background-repeat: no-repeat;
        cursor: pointer;
        height: $row-height;
        left: 0;
        position: absolute;
        top: 0;
        width: 60px;
    }
}
