header {
    align-items: center;
    justify-content: space-between;
    background-color: $brand-color;
    display: flex;
    height: $row-height;
    left: 0;
    top: 0;
    z-index: 2;

    & > * {
        @extend %no-select;
    }

    svg {
        fill: $white-color;
    }

    .logo {
        box-sizing: content-box;
        cursor: pointer;
        display: inline-block;
        height: 20px;
        padding: 15px 10px;
        width: 40px;
    }

    @import "header/sort/style";
}
