// color scheme

$background-hover-color: rgba($black-color, 0.1);
$black-color: #212121;
$brand-color: #4caf50;
$brand-hover-color: #419e42;
$browser-action-badge-color: #9E9E9E;
$hash-color: #673ab7;
$link-color: #1976d2;
$text-hover-color: rgba($black-color, 0.4);
$white-color: #fff;