// color scheme

$white-color: #fff;
$black-color: #212121;
$link-color: #1976d2;
$hash-color: #673ab7;
$brand-color: #4caf50;
$brand-hover-color: #419e42;
$background-hover-color: rgba($black-color, 0.1);
$text-hover-color: rgba($black-color, 0.4);