{
    "ftp": {
        "host": "example.com",
        "user": "user",
        "pass": "password",
        "path": "/"
    },
    "ssh": {
        "host": "",
        "port": "",
        "username": "",
        "privateKey": "",
        "path": {
            "page": ""
        }
    }
}