.add {
    background-color: #f1f1f1;
    bottom: 0;
    height: $same-height;
    left: 0;
    z-index: 3;

    .title {
        background-color: transparent;
        border: none;
        font-weight: 300;
        height: $same-height;
        outline: none;
        padding: 10px;
        position: relative;
        width: 100%;
        z-index: 1;
    }
}