<!doctype html><html><head>

    <meta charset="utf-8">
    <title>{ layout.title }}</title>

    {% for link in assets.stylesheet.layout  %}
      <link rel="stylesheet" href="{{ link }}">
    {% endfor %}

    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head><body id="todoin">

    <script src="{{ assets.javascript.require.path }}"></script>
    <script>
        requirejs.config({
            paths: {
                {% for file in assets.javascript.require.libs %}
                    "{{ loop.key }}": "{{ file }}"{% if !loop.last %},{% endif %}
                {% endfor %}
            }
        });

        require(['Application'], function(Application){
            new Application;
        });
    </script>
    <script src="{{ assets.javascript.main }}"></script>

</body></html>