@charset "UTF-8";

// Compass
@import "compass/utilities/general/clearfix";

// Simple reset, colors and extends
@import "common/styles/fonts";
@import "common/styles/reset";
@import "common/styles/variables";
@import "common/styles/colors";
@import "common/styles/extend";

@import "common/styles/components/check-box";
@import "common/styles/components/tooltip";

// Application
body, #ToDoin {
    height: 568px;
    width: 320px;
}

//  Mobile hack for now
body.mobile, body.mobile #ToDoin {
    height: 100%;
    width: 100%;
}

#ToDoin {
    background-color: $white-color;
    position: absolute;
    right: 0;
    top: 0;

    & > * {
        position: absolute;
        width: 100%;
    }

    @import "header/style";
    @import "todos/style";
    @import "clean-button/style";
    @import "typing/style";
}