@charset "UTF-8";

// Compass
@import "compass/utilities/general/clearfix";

// Simple reset, colors and extends
@import "_ui/fonts";
@import "_ui/reset";
@import "_ui/variables";
@import "_ui/colors";
@import "_ui/extend";
@import "_ui/function";

@import "_ui/components/check-box";
@import "_ui/components/tooltip";

// Application
body, #ToDoin {
    height: 490px;
    width: 300px;
}

//  Mobile hack for now
body.mobile, body.mobile #ToDoin {
    height: 100%;
    width: 100%;
}

#ToDoin {
    background-color: #f9f9f9;
    position: relative;

    & > * {
        position: absolute;
        width: 100%;
    }

    @import "header/style";
    @import "todos/style";
    @import "typing/style";
}