@charset "UTF-8";

// Compass
@import "compass/utilities/general/clearfix";

// Simple reset, colors and extends
@import "common/styles/fonts";
@import "common/styles/reset";
@import "common/styles/variables";
@import "common/styles/colors";
@import "common/styles/extend";
@import "common/styles/function";

@import "common/styles/components/check-box";
@import "common/styles/components/tooltip";

// Application
body, #ToDoin {
    height: 490px;
    width: 300px;
}

//  Mobile hack for now
body.mobile, body.mobile #ToDoin {
    height: 100%;
    width: 100%;
}

#ToDoin {
    background-color: #f9f9f9;
    position: relative;

    & > * {
        position: absolute;
        width: 100%;
    }

    @import "header/style";
    @import "todos/style";
    @import "clean-button/style";
    @import "typing/style";

    .show-clean-button {
        .list {
            padding-bottom: 60px;
        }
        .clean-button {
            display: block;
        }
    }
}