.menu {
    align-content: stretch;
    display: flex;
    justify-content: flex-start;
    width: 100%;

    .button {
        color: rgba( $black-color, 0.5 );
        cursor: pointer;
        flex: 1;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        height: $row-height;
        letter-spacing: 1.5px;
        line-height: $row-height;
        padding: 0 10px;
        text-align: left;

        svg {
            fill: rgba( $black-color, 0.5 );
            margin-right: 5px;
            margin-bottom: 1px;
        }

        &.on {
            color: $brand-color;

            svg { fill: $brand-color }
        }

        &.privacy svg {
            height: 13px;
            width: 36px;
        }
    }
}
