header {
    background-color: $brand-color;
    height: $strip-height;
    left: 0;
    top: 0;
    z-index: 2;

    & > * {
        @extend %no-select;
    }

    .logo {
        background-image: url("./images/logo.svg");
        background-position: 50% 43%;
        background-size: 40px 20px;
        background-repeat: no-repeat;
        cursor: pointer;
        height: $strip-height;
        left: 0;
        position: absolute;
        top: 0;
        width: 60px;
    }

    .breadcrumb {
        color: $white-color;
        font-size: 16px;
        font-style: italic;
        font-weight: 600;
        left: 60px;
        line-height: 16px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        right: 50px;
        text-overflow: ellipsis;
        top: 17px;
        white-space: nowrap;
        width: #{ 320 - (60 + 50) }px;
        // transition: opacity 1s ease;

        &:before {
            content: $heavy-right-angle;
            font-style: normal;
            padding-right: 5px;
        }

        &.show {
            opacity: 1;
        }
    }

    .sort-by {
        position: absolute;
        right: 0;
        top: 0;

        .icon {
            background-image: url("./images/sort-by-menu.svg");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 30px 24px;
            cursor: pointer;
            display: block;
            height: 50px;
            width: 50px;
        }

        .menu {
            background-color: $brand-hover-color;
            display: none;
            padding: 10px 0;
            position: absolute;
            right: 0;
            top: $strip-height;

            a {
                color: $white-color;
                cursor: pointer;
                display: block;
                display: block;
                font-size: 16px;
                font-style: italic;
                line-height: 30px;
                height: 30px;
                padding: 0 10px;
                text-decoration: none;
                white-space: nowrap;

                &:last-child {
                    margin-bottom: 0;
                }

                &.selected {
                    font-weight: 600;
                }

                &:hover {
                    background-color: rgba($black-color, 0.2);
                }
            }
        }

        &.open, &:hover {
            background-color: $background-hover-color;
        }

        &.open .menu {
            display: block;
        }
    }
}