header {
    align-items: center;
    background-color: #eee;
    box-sizing: border-box;
    display: flex;
    height: $typing-oneline-height;
    left: 0;
    padding: 10px 5px 10px 10px;
    top: 0;
    z-index: 2;

    & > * {
        @extend %no-select;
    }

    .logo {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -1px;
    }

    .weather {
        color: #666;
        font-size: 12px;
        font-weight: 600;
        margin-left: auto;
        opacity: 0;

        &:after {
            display: inline-block;
            font-size: 65%;
        }

        &.celsius:after {
            content: "#{'\2103'}";
        }
        &.fahrenheit:after {
            content: "#{'\2109'}";
        }

        &.show {
            opacity: 1;
            transition: opacity 200ms ease-in;
        }

        &[class*="owf-"]:before {
            font-size: 14px;
            position: relative;
            top: 3px;
            right: 3px;
        }
    }

    .sort-by {
        font-size: 11px;
        margin-left: 5px;
        position: relative;

        .toggle {
            color: $placeholder-color;
            cursor: pointer;
            font-size: 13px;
            padding: 7px 5px 5px 5px;
        }

        .menu {
            background-color: #f1f1f1;
            display: none;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 23px;


            a {
                cursor: pointer;
                color: #000;
                padding: 5px;
                display: block;
                font-size: 12px;
                margin-bottom: 5px;
                text-decoration: none;
                white-space: nowrap;

                &:hover {
                    background-color: $background-color;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &.selected {
                    font-weight: bold;
                }
            }
        }

        &:hover .menu {
            display: block;
            opacity: 1;
            transition: opacity 1s ease;
        }
    }
}