$bottom-space: 20px;

.clean-button {
    background-color: $brand-color;
    border-radius: 5px;
    border: none;
    bottom: 75px;
    color: $white-color;
    display: none;
    font-style: italic;
    font-weight: 600;
    height: 40px;
    left: 50%;
    margin: 0 auto;
    outline: none;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    transition: background-color 200ms ease-in;
    white-space: nowrap;
    z-index: 2;
    width: auto;

    &:focus, &:hover {
        background-color: $brand-hover-color;
        color: $white-color;
    }

    &.show {
        display: inline-block;
    }

    &.bottom-double-space {
        bottom: $row-height + 24px + $bottom-space;
    }
}
