.typing {
    background-color: #f1f1f1;
    bottom: 0;
    left: 0;
    z-index: 3;

    .title {
        background-color: transparent;
        border: none;
        // box-sizing: border-box;
        display: block;
        font-weight: 300;
        height: $typing-oneline-height;
        line-height: $typing-oneline-height / 2 + 1px;
        max-height: $typing-twoline-height;
        outline: none;
        overflow-y: auto;
        // overflow: hidden;
        transition: none;
        padding: 10px;
        position: relative;
        resize: none;
        width: 100%;
        word-wrap:break-word;
        z-index: 1;

        &.two-lines {
            height: $typing-twoline-height;
        }
    }
}