%check-box {
    border-radius: 50%;
    box-sizing: border-box;
    color: #777;
    cursor: pointer !important;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;

    &[disabled] {
        cursor: default !important;
    }

    &.remain {
        color: #000;
    }

    &.complete {
        color: #419a45;
    }
}

.check-box { @extend %check-box; }