%check-box {
    border-radius: 50%;
    box-sizing: border-box;
    color: rgba($text-color, 0.2);
    cursor: pointer !important;
    display: inline-block;
    font-size: 18px;
    height: $typing-oneline-height;
    line-height: $typing-oneline-height;
    text-align: center;
    width: 40px;

    &[disabled] {
        cursor: default !important;
    }

    &.remain {
        color: $text-color;
    }

    &.complete {
        color: $complete-color;
    }
}

.check-box { @extend %check-box; }