// color scheme

$white-bg: #f9f9f9;
$background-color: #f9f9f9;
$badass-color: #bada55;
$complete-color: #419a45;
$placeholder-color: #666;
$remain-color: #419a45;
$second-background-color: #eee;
$text-color: #000;