.list {
    @extend %no-select;

    bottom: $same-height;
    left: 0;
    overflow: hidden;
    top: $same-height;

    ul {
        height: 100%;
        list-style-type: none;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        width: 100%;
        z-index: 2;

        @import 'item/style'
    }
}