li {
    @include clearfix;

    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
    padding: 6px 10px;

    .complete, .field {
        display: inline-block;
        float: left;
    }

    .complete {
        cursor: pointer;
        margin-top: 5px;
        max-width: 14px;
        width: 5%;
    }

    .field {
        margin-left: 3%;
        width: 92%;
    }
}