li {
    @include clearfix;

    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
    // min-height: $same-height;
    padding: 6px 10px;

    .checkbox, .field {
        display: inline-block;
        float: left;
    }

    .checkbox {
        cursor: pointer;
        margin-top: 5px;
        max-width: 14px;
        width: 5%;
    }

    .field {
        margin-left: 3%;
        width: 92%;
    }

    &.complete .field {
         text-decoration: line-through;
    }
}