li {
    @include clearfix;

    // min-height: $same-height;
    align-items: flex-start;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
    display: flex;
    padding: 6px;

    .check-box {
        flex-shrink: 0;
    }

    .field {
        display: inline-block;
        margin-left: 6px;
    }

    &.complete .field {
         text-decoration: line-through;
    }
}